::-webkit-scrollbar {
width: 0.4em;
height: 0.4em;
}
::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}
::-webkit-scrollbar-track-piece {
background-color: #3b3b3b;
}
::-webkit-scrollbar-thumb {
background: rgba(255, 255, 255, 0.8);
border-radius: 10px;
}
@font-face {
    font-family: Inter;
    font-size: auto;
    src: url(font/Inter.ttf);
    }
@font-face {
    font-family: Aaron;
    font-size: auto;
    src: url(font/Aaron.otf);
    }
@font-face {
    font-family: Montserrat;
    font-size: auto;
    src: url(font/Montserrat.ttf);
    }
@font-face {
  font-family: Azonix;
  font-size: auto;
  src: url(font/Azonix.otf);
  }
html, body{
background: #525252;
margin:0px; 
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2vh;
}
h2{
    color:#fff;
    font-family: Inter;
}
.calc{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.47); 
    margin-top: 50px;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
}
.numbers{
    display: flex;
    margin: 15px;
    flex-wrap: wrap;
    align-content: space-between;
}
.calc_options{
    display: grid;
    margin: 15px;
}
.number {
    margin: 15px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    padding: 15px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 35px;
    text-align-last: center;
    font-size: 3vh;
}
#option {
    margin: 15px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    padding: 15px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 25px;
    text-align-last: center;
}
.number:hover, #option:hover {
    box-shadow: 0px 20px 30px rgba(150, 150, 150, 0.47);
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(1.05);
}
#number{
    border-radius: 10px;
    margin-left: -19px;
    padding: 10px;
    font-size: 3.2vh;
}