::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}
::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
:root{
    --color0: #000000;
    --color1: #0095eb;
    --color2: #FF8000;
    --color3: #bda431;
    --color4: #2c26d3;
    --color5: #24d324;
    --color6: #c02024;
    --color7: #8a20c6;
    --color8: #ffffff;
}
@font-face {
    font-family: Inter;
    font-size: auto;
    src: url(font/Inter.ttf);
}
      
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes animate {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animate { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0px; opacity:1 }

}
@-webkit-keyframes show {
    from { opacity:0 } 
    to { opacity:1 }
}

@keyframes show { 
    from{ opacity:0 } 
    to{ opacity:1 }
}
@-webkit-keyframes ocult {
    from { opacity:1 } 
    to { opacity:0 }
}

@keyframes ocult { 
    from{ opacity:1 } 
    to{ opacity:0 }
}
html, body{
    background-color: #000;
    color: #FFF;
    border-color: #fff;
    margin:0px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Inter';
    transition: all 0.3s ease-in-out;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    position: absolute;
    left: 46.5%;
    top: 46.5%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
#load_info{
    top: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#load_info1{
    bottom: 5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#load_info1 .i{
    margin-bottom: 10px;
}
.b:focus, .s:focus, .input_field:focus, input:focus, textarea:focus{
    outline: none!important;
}
.input_field:focus-visible, input:focus-visible, textarea:focus-visible{
    outline: none!important;
}
#container{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation-name: animate;
    -webkit-animation-duration: 2s;
    animation-name: animate;
    animation-duration: 2s;
}
.containner{
    display: flex;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
    overflow: auto;
    -webkit-animation-name: show;
    -webkit-animation-duration: 1s;
    animation-name: show;
    animation-duration: 1s;
}
.containner .i{
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.itens{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(161 161 161 / 15%);
    padding: 20px;
    border-radius: 20px;
    color: #FFF;
}
.i{
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#coffee_menu, #inf_menu{
    max-height: 85vh;
}
#simple_info{
    text-align: justify;
    max-width: 700px;
    font-size: 15px;
    position: relative;
}
#wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
}
.donation_options {
    display: flex;
    margin: 10px 50px;
    width: 312px;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.donation_img{
    width: 200px;
    height: 200px;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}
.wrapper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    width: 100%;
    background-color: rgba(161 161 161 / 15%);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.47); 
}
.wrapper h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: none;
    font-size: 25px;
    margin: 10px 0px 25px 0px;
    color: #FFF;
}

.wrapper .input_field{
    margin-bottom: 10px;
}

.wrapper .input_field input[type="text"], .wrapper textarea{
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    font-family: 'Inter';
    background-color: rgba(161 161 161 / 2%);
    caret-color: #FFFFFF;
    color: #FFF;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d1d1d1;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d1d1d1;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #d1d1d1;
}
.wrapper textarea{
    resize: none;
    height: 80px;
    font-family: 'Inter';
}
.social{
    position: relative;
    bottom: 10px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 425px;
    padding-top: 25px;
}
#error_message{
    margin-bottom: 20px;
    color: red;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
#confirm_message{
    margin-bottom: 20px;
    color: green;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
a{
    text-decoration: none;
}
.s{
    display: flex;
    position: relative;
    background-color: rgb(15, 15, 15);
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    margin: 0 3px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all ease-in-out 0.3s;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}
.s:hover{
    background-color: rgba(161, 161, 161, 0.15);
    transform: scale(1.05);
}
.b{
    display: flex;
    position: relative;
    margin: 5px;
    background-color: rgb(15, 15, 15);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all ease-in-out 0.3s;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}
.b:hover{
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}
#hero-title{
    font-size: 4vh;
    position: absolute;
    top: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#info{
    font-size: 25px;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.menus{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    font-size: 25px;
    padding: 15px;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.close{
    margin: 10px auto 20px auto;
    border-color: #fff;
    color: #fff;
}
#closef{
    top: 80px;
}
#inf_menu .menus{
    margin: 20px auto;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    width: fit-content;
    border-radius: 20px;
}
#config_menu{
    padding-top: 15px;
}
.color_options{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 250px;
    background-color: rgba(161 161 161 / 30%);
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto 10px auto;
    text-align: center;
}
.colors{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    margin: 5px;
}
input[type=color]{
	min-width: 51px;
	height: 51px;
	border: none;
	border-radius: 20px;
	background: none;
    padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none; /*change color of the swatch border here*/
	border-radius: 20px;
}
#contador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#number{
    font-family: 'Inter';
    font-size: 16vw;
    background-color: transparent;
    border: none;
}
#options{
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    padding: 15px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.menus:hover, .options:hover{
    transform: scale(1.05);
    background-color: rgba(161, 161, 161, 0.4);
}
#notifications {
    display: none;
    top: 0px;
    position: fixed;
    background-color: rgba(161 161 161 / 30%);
    color: #FFF;
    padding: 14px;
    z-index: 1;
    min-width: -webkit-fill-available;
    -webkit-animation-name: show;
    -webkit-animation-duration: 1s;
    animation-name: show;
    animation-duration: 1s;
}
#bar {
    width: 100%;
    background-color: #a1a1a1;
    border-radius: 20px;
    height: 3px;
    position: relative;
}
#progress {
    width: 0;
    border-radius: 20px;
    height: 3px;
    position: relative;
}
#notifications .i {
    display: none;
}
@media screen and (max-width: 800px) {
    .b:hover{
        background-color: unset;
        transform: scale(1);
    }
    .s:hover{
        background-color: unset;
        transform: scale(1);
    }
    .menus:hover, .options:hover{
        transform: scale(1);
        background-color: unset;
    }
    #coffee_menu .itens{
        top: 200px;
        width: 85vw;
    }
    #config_menu{
        padding-top: 75px;
    }
    #simple_info{
        max-width: 280px;
    }
    .donation_img{
        width: 150px;
        height: 150px;
    }
    .containner .b{
        max-width: 255px;
    }
    .social{
        max-width: 283px;
    }
    .wrapper{
        top: 70px;
        max-width: 300px;
    }
}
